src/GUI/Resources/Raw/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TimeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Person">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FirstName" type="xs:string" />
                    <xs:element name="MiddleName" type="xs:string" />
                    <xs:element name="LastName" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Faculty" type="xs:string" />
              <xs:element name="Chair" type="xs:string" />
              <xs:element name="Classes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Class">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Subject" type="xs:string" />
                          <xs:element name="Date">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Day" type="xs:string" />
                                <xs:element name="Time" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Audience" type="xs:unsignedShort" />
                          <xs:element name="Students">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="Student">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="FirstName" type="xs:string" />
                                      <xs:element name="MiddleName" type="xs:string" />
                                      <xs:element name="LastName" type="xs:string" />
                                      <xs:element name="Group" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>